<div class="flex flex-row w-screen justify-center align-bottom bg-slate-800 p-10">
    <h1 class="text-center text-white text-4xl">Thank you!</h1>
    <a class=" text-amber-100 text-center flex flex-row ml-5" href="#">
        <button class="btn align-middle">Contact Me</button>
    </a>
</div>