<div class="flex flex-row w-screen justify-center bg-slate-800 p-10">
    <h1 class="text-center text-white text-4xl">Welcome to the Blog!</h1>
    <a class=" text-amber-100 text-center flex flex-row ml-5" href="/create">
        <button class="btn align-middle">Create Post</button>
    </a>
</div>