<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Blog Glob</title>
</head>
<body>
    <h1 class="text-center bg-amber-300">Welcome to the Blog!</h1>
</body>
</html>